@tailwind base;
@tailwind components;
@tailwind utilities;

/* color1= 
purple:#7c3aed; //text headings
grey:#6b7380
dark-purple:#4237c8 // on hover on buttons
light-purple:#4e45e5 // normal texts, outlines/fills of icons
white:#f2f4f7
black:#010001 */
